In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('/content/loan_train.csv')

In [5]:
df.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [6]:
df.shape

(614, 13)

In [7]:
df.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [8]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [9]:
df['Gender'].fillna(df['Gender'].mode()[0], inplace=True)

In [10]:


df['Married'].fillna(df['Married'].mode()[0], inplace=True)

df['Dependents'].fillna(df['Dependents'].mode()[0], inplace=True)

df['Self_Employed'].fillna(df['Self_Employed'].mode()[0], inplace=True)

df['Loan_Amount_Term'].fillna(df['Loan_Amount_Term'].mode()[0], inplace=True)

df['Credit_History'].fillna(df['Credit_History'].mode()[0], inplace=True)

In [13]:
df['LoanAmount'].fillna(df['LoanAmount'].mean(), inplace=True)

In [14]:
df.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [15]:
df['Gender'] = df['Gender'].map({'Male': 0, 'Female': 1})
df['Married'] = df['Married'].map({'No': 0, 'Yes': 1})
df['Dependents'] = df['Dependents'].map({'0': 0, '1': 1, '2': 2, '3+': 3})
df['Education'] = df['Education'].map({'Graduate': 1, 'Not Graduate': 0})
df['Self_Employed'] = df['Self_Employed'].map({'No': 0, 'Yes': 1})
df['Property_Area'] = df['Property_Area'].map({'Rural': 0, 'Semiurban': 1, 'Urban': 2})
df['Loan_Status'] = df['Loan_Status'].map({'N': 0, 'Y': 1})

In [27]:
for i in df.columns[1:]:
    df[i] = (df[i] - df[i].min()) / (df[i].max() - df[i].min())

In [28]:
df.head()

    Loan_ID  Gender  Married  ...  Credit_History  Property_Area  Loan_Status
0  LP001002     0.0      0.0  ...             1.0            1.0          1.0
1  LP001003     0.0      1.0  ...             1.0            0.0          0.0
2  LP001005     0.0      1.0  ...             1.0            1.0          1.0
3  LP001006     0.0      1.0  ...             1.0            1.0          1.0
4  LP001008     0.0      0.0  ...             1.0            1.0          1.0

[5 rows x 13 columns]

In [48]:
df=df.drop('Loan_ID',axis=1)

In [49]:
len(df.columns)

12

In [50]:
X = df.drop('Loan_Status', axis=1)

# storing the dependent variable as y
y = df['Loan_Status']

In [51]:
from sklearn.model_selection import train_test_split

In [121]:
X_train,X_test,y_train,y_test = train_test_split(X,y,stratify=df['Loan_Status'],random_state=10,test_size=0.2)

In [122]:
(X_train.shape, y_train.shape), (X_test.shape, y_test.shape)

(((491, 11), (491,)), ((123, 11), (123,)))

In [123]:
from keras.models import Sequential
from keras.layers import InputLayer, Dense

In [124]:
input_neurons = X_train.shape[1]

In [125]:
output_neurons = 1

In [126]:
model = Sequential()
model.add(InputLayer(input_shape=(input_neurons,)))
model.add(Dense(units=10, activation='relu'))
model.add(Dense(units=5, activation='relu'))
model.add(Dense(units=output_neurons, activation='sigmoid'))

In [127]:
model.summary()

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_9 (Dense)              (None, 10)                120
_________________________________________________________________
dense_10 (Dense)             (None, 5)                 55
_________________________________________________________________
dense_11 (Dense)             (None, 1)                 6
=================================================================
Total params: 181
Trainable params: 181
Non-trainable params: 0
_________________________________________________________________

In [128]:
model.compile(loss='binary_crossentropy',optimizer='Adam',metrics=['accuracy'])

In [129]:
model_history = model.fit(X_train, y_train, validation_data=(X_test, y_test), epochs=50)

Epoch 1/50
16/16 [==============================] - 0s 12ms/step - loss: 1.1396 - accuracy: 0.3116 - val_loss: 1.0477 - val_accuracy: 0.3089
Epoch 2/50
16/16 [==============================] - 0s 3ms/step - loss: 0.9945 - accuracy: 0.3116 - val_loss: 0.9397 - val_accuracy: 0.3089
Epoch 3/50
16/16 [==============================] - 0s 2ms/step - loss: 0.9065 - accuracy: 0.3116 - val_loss: 0.8716 - val_accuracy: 0.3171
Epoch 4/50
16/16 [==============================] - 0s 3ms/step - loss: 0.8473 - accuracy: 0.3259 - val_loss: 0.8266 - val_accuracy: 0.3252
Epoch 5/50
16/16 [==============================] - 0s 3ms/step - loss: 0.8023 - accuracy: 0.3381 - val_loss: 0.7849 - val_accuracy: 0.3252
Epoch 6/50
16/16 [==============================] - 0s 3ms/step - loss: 0.7548 - accuracy: 0.3605 - val_loss: 0.7405 - val_accuracy: 0.3659
Epoch 7/50
16/16 [==============================] - 0s 3ms/step - loss: 0.7026 - accuracy: 0.5051 - val_loss: 0.6883 - val_accuracy: 0.5610
Epoch 8/50
16/16 [==============================] - 0s 3ms/step - loss: 0.6526 - accuracy: 0.5927 - val_loss: 0.6479 - val_accuracy: 0.6423
Epoch 9/50
16/16 [==============================] - 0s 3ms/step - loss: 0.6197 - accuracy: 0.6660 - val_loss: 0.6209 - val_accuracy: 0.6748
Epoch 10/50
16/16 [==============================] - 0s 3ms/step - loss: 0.5985 - accuracy: 0.7088 - val_loss: 0.6092 - val_accuracy: 0.6911
Epoch 11/50
16/16 [==============================] - 0s 3ms/step - loss: 0.5912 - accuracy: 0.7047 - val_loss: 0.6019 - val_accuracy: 0.6992
Epoch 12/50
16/16 [==============================] - 0s 3ms/step - loss: 0.5846 - accuracy: 0.7067 - val_loss: 0.5952 - val_accuracy: 0.7073
Epoch 13/50
16/16 [==============================] - 0s 3ms/step - loss: 0.5800 - accuracy: 0.7088 - val_loss: 0.5901 - val_accuracy: 0.7073
Epoch 14/50
16/16 [==============================] - 0s 2ms/step - loss: 0.5757 - accuracy: 0.7128 - val_loss: 0.5851 - val_accuracy: 0.7073
Epoch 15/50
16/16 [==============================] - 0s 3ms/step - loss: 0.5714 - accuracy: 0.7128 - val_loss: 0.5806 - val_accuracy: 0.7073
Epoch 16/50
16/16 [==============================] - 0s 3ms/step - loss: 0.5675 - accuracy: 0.7149 - val_loss: 0.5758 - val_accuracy: 0.7073
Epoch 17/50
16/16 [==============================] - 0s 3ms/step - loss: 0.5628 - accuracy: 0.7169 - val_loss: 0.5716 - val_accuracy: 0.7073
Epoch 18/50
16/16 [==============================] - 0s 3ms/step - loss: 0.5586 - accuracy: 0.7271 - val_loss: 0.5675 - val_accuracy: 0.7398
Epoch 19/50
16/16 [==============================] - 0s 3ms/step - loss: 0.5546 - accuracy: 0.7536 - val_loss: 0.5633 - val_accuracy: 0.7317
Epoch 20/50
16/16 [==============================] - 0s 3ms/step - loss: 0.5509 - accuracy: 0.7536 - val_loss: 0.5588 - val_accuracy: 0.7398
Epoch 21/50
16/16 [==============================] - 0s 3ms/step - loss: 0.5463 - accuracy: 0.7536 - val_loss: 0.5539 - val_accuracy: 0.7561
Epoch 22/50
16/16 [==============================] - 0s 3ms/step - loss: 0.5421 - accuracy: 0.7699 - val_loss: 0.5477 - val_accuracy: 0.7724
Epoch 23/50
16/16 [==============================] - 0s 3ms/step - loss: 0.5376 - accuracy: 0.7841 - val_loss: 0.5417 - val_accuracy: 0.7886
Epoch 24/50
16/16 [==============================] - 0s 2ms/step - loss: 0.5324 - accuracy: 0.7923 - val_loss: 0.5363 - val_accuracy: 0.8049
Epoch 25/50
16/16 [==============================] - 0s 3ms/step - loss: 0.5279 - accuracy: 0.8045 - val_loss: 0.5306 - val_accuracy: 0.8049
Epoch 26/50
16/16 [==============================] - 0s 3ms/step - loss: 0.5231 - accuracy: 0.8045 - val_loss: 0.5267 - val_accuracy: 0.8130
Epoch 27/50
16/16 [==============================] - 0s 3ms/step - loss: 0.5194 - accuracy: 0.8086 - val_loss: 0.5231 - val_accuracy: 0.8130
Epoch 28/50
16/16 [==============================] - 0s 3ms/step - loss: 0.5161 - accuracy: 0.8086 - val_loss: 0.5188 - val_accuracy: 0.8130
Epoch 29/50
16/16 [==============================] - 0s 3ms/step - loss: 0.5130 - accuracy: 0.8086 - val_loss: 0.5167 - val_accuracy: 0.8130
Epoch 30/50
16/16 [==============================] - 0s 3ms/step - loss: 0.5101 - accuracy: 0.8086 - val_loss: 0.5147 - val_accuracy: 0.8130
Epoch 31/50
16/16 [==============================] - 0s 2ms/step - loss: 0.5076 - accuracy: 0.8086 - val_loss: 0.5126 - val_accuracy: 0.8130
Epoch 32/50
16/16 [==============================] - 0s 3ms/step - loss: 0.5053 - accuracy: 0.8086 - val_loss: 0.5109 - val_accuracy: 0.8130
Epoch 33/50
16/16 [==============================] - 0s 3ms/step - loss: 0.5021 - accuracy: 0.8086 - val_loss: 0.5077 - val_accuracy: 0.8130
Epoch 34/50
16/16 [==============================] - 0s 3ms/step - loss: 0.5001 - accuracy: 0.8086 - val_loss: 0.5052 - val_accuracy: 0.8130
Epoch 35/50
16/16 [==============================] - 0s 2ms/step - loss: 0.4981 - accuracy: 0.8086 - val_loss: 0.5034 - val_accuracy: 0.8130
Epoch 36/50
16/16 [==============================] - 0s 3ms/step - loss: 0.4959 - accuracy: 0.8086 - val_loss: 0.5013 - val_accuracy: 0.8130
Epoch 37/50
16/16 [==============================] - 0s 3ms/step - loss: 0.4947 - accuracy: 0.8086 - val_loss: 0.4994 - val_accuracy: 0.8130
Epoch 38/50
16/16 [==============================] - 0s 3ms/step - loss: 0.4918 - accuracy: 0.8086 - val_loss: 0.4974 - val_accuracy: 0.8130
Epoch 39/50
16/16 [==============================] - 0s 2ms/step - loss: 0.4908 - accuracy: 0.8086 - val_loss: 0.4962 - val_accuracy: 0.8130
Epoch 40/50
16/16 [==============================] - 0s 3ms/step - loss: 0.4888 - accuracy: 0.8086 - val_loss: 0.4942 - val_accuracy: 0.8130
Epoch 41/50
16/16 [==============================] - 0s 3ms/step - loss: 0.4874 - accuracy: 0.8086 - val_loss: 0.4930 - val_accuracy: 0.8130
Epoch 42/50
16/16 [==============================] - 0s 3ms/step - loss: 0.4859 - accuracy: 0.8086 - val_loss: 0.4914 - val_accuracy: 0.8130
Epoch 43/50
16/16 [==============================] - 0s 3ms/step - loss: 0.4846 - accuracy: 0.8086 - val_loss: 0.4895 - val_accuracy: 0.8130
Epoch 44/50
16/16 [==============================] - 0s 2ms/step - loss: 0.4833 - accuracy: 0.8086 - val_loss: 0.4884 - val_accuracy: 0.8130
Epoch 45/50
16/16 [==============================] - 0s 3ms/step - loss: 0.4820 - accuracy: 0.8086 - val_loss: 0.4873 - val_accuracy: 0.8130
Epoch 46/50
16/16 [==============================] - 0s 3ms/step - loss: 0.4816 - accuracy: 0.8086 - val_loss: 0.4860 - val_accuracy: 0.8130
Epoch 47/50
16/16 [==============================] - 0s 3ms/step - loss: 0.4792 - accuracy: 0.8086 - val_loss: 0.4851 - val_accuracy: 0.8130
Epoch 48/50
16/16 [==============================] - 0s 3ms/step - loss: 0.4785 - accuracy: 0.8086 - val_loss: 0.4831 - val_accuracy: 0.8130
Epoch 49/50
16/16 [==============================] - 0s 3ms/step - loss: 0.4770 - accuracy: 0.8086 - val_loss: 0.4814 - val_accuracy: 0.8130
Epoch 50/50
16/16 [==============================] - 0s 2ms/step - loss: 0.4761 - accuracy: 0.8086 - val_loss: 0.4805 - val_accuracy: 0.8130

In [130]:
prediction = model.predict_classes(X_test)

In [131]:
prediction

array([[1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1]], dtype=int32)

In [64]:
accuracy_score(y_test, prediction)

0.8130081300813008

In [63]:
from sklearn.metrics import accuracy_score

In [103]:
test=pd.read_csv('/content/loan_test.csv')

In [104]:
test.shape

(367, 12)

In [105]:
test.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area'],
      dtype='object')

In [106]:
test.head()

    Loan_ID Gender Married  ... Loan_Amount_Term Credit_History Property_Area
0  LP001015   Male     Yes  ...            360.0            1.0         Urban
1  LP001022   Male     Yes  ...            360.0            1.0         Urban
2  LP001031   Male     Yes  ...            360.0            1.0         Urban
3  LP001035   Male     Yes  ...            360.0            NaN         Urban
4  LP001051   Male      No  ...            360.0            1.0         Urban

[5 rows x 12 columns]

In [107]:
test.isnull().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [101]:
test['Gender']=test['Gender'].fillna(test['Gender'].mode()[0], inplace=True)

test['Dependents']=test['Dependents'].fillna(test['Dependents'].mode()[0], inplace=True)

test['Self_Employed']=test['Self_Employed'].fillna(test['Self_Employed'].mode()[0], inplace=True)

test['Loan_Amount_Term']=test['Loan_Amount_Term'].fillna(test['Loan_Amount_Term'].mode()[0], inplace=True)

test['Credit_History']=test['Credit_History'].fillna(test['Credit_History'].mode()[0], inplace=True)

In [108]:
test['Gender'].fillna(test['Gender'].mode()[0], inplace=True)
test['Dependents'].fillna(test['Dependents'].mode()[0], inplace=True)

test['Self_Employed'].fillna(test['Self_Employed'].mode()[0], inplace=True)

test['Loan_Amount_Term'].fillna(test['Loan_Amount_Term'].mode()[0], inplace=True)

test['Credit_History'].fillna(test['Credit_History'].mode()[0], inplace=True)

In [109]:
test.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           5
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

In [110]:
test['LoanAmount'].fillna(test['LoanAmount'].mean(), inplace=True)

In [111]:
test['Gender'] = test['Gender'].map({'Male': 0, 'Female': 1})
test['Married'] = test['Married'].map({'No': 0, 'Yes': 1})
test['Dependents'] = test['Dependents'].map({'0': 0, '1': 1, '2': 2, '3+': 3})
test['Education'] = test['Education'].map({'Graduate': 1, 'Not Graduate': 0})
test['Self_Employed'] = test['Self_Employed'].map({'No': 0, 'Yes': 1})
test['Property_Area'] = test['Property_Area'].map({'Rural': 0, 'Semiurban': 1, 'Urban': 2})

In [112]:
for i in test.columns[1:]:
    test[i] = (test[i] - test[i].min()) / (test[i].max() - test[i].min())

In [113]:
test.head()

    Loan_ID  Gender  Married  ...  Loan_Amount_Term  Credit_History  Property_Area
0  LP001015     0.0      1.0  ...          0.746835             1.0            1.0
1  LP001022     0.0      1.0  ...          0.746835             1.0            1.0
2  LP001031     0.0      1.0  ...          0.746835             1.0            1.0
3  LP001035     0.0      1.0  ...          0.746835             1.0            1.0
4  LP001051     0.0      0.0  ...          0.746835             1.0            1.0

[5 rows x 12 columns]

In [115]:
xtext=test.drop('Loan_ID',axis=1)

In [133]:
y_predict=model.predict_classes(xtext)

In [134]:
y_predict

array([[1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1]], dtype=int32)

In [143]:
data = {
    'Loan_Status': y_predict.flatten()
}

df2 = pd.DataFrame(data)

In [144]:
df2

     Loan_Status
0              1
1              1
2              1
3              1
4              1
..           ...
362            1
363            1
364            1
365            1
366            1

[367 rows x 1 columns]

In [145]:
v=test['Loan_ID']

In [148]:
len(v)

367

In [149]:
final= pd.concat([v,df2],axis=1)

In [162]:
final['Loan_Status']=final['Loan_Status'].map(({0: 'N', 1: 'Y'}))

In [163]:
final

      Loan_ID Loan_Status
0    LP001015           Y
1    LP001022           Y
2    LP001031           Y
3    LP001035           Y
4    LP001051           Y
..        ...         ...
362  LP002971           Y
363  LP002975           Y
364  LP002980           Y
365  LP002986           Y
366  LP002989           Y

[367 rows x 2 columns]

In [164]:
final['Loan_Status'].unique()

array(['Y', 'N'], dtype=object)

In [159]:
len(final)

367

In [165]:
final.to_csv('/content/model_submission.csv',index=False)

In [116]:
xtext.shape

(367, 11)